/* wild-card rule, affects EVERYTHING, be careful */
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 400;
    color: rgb(255,196,0);
    font-family: Bitcount;
    margin: 0;
}

@font-face {
    font-family: Bitcount;
    src: url(Bitcount-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

.container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.blink-in {
    animation: blink 20s 1 alternate-reverse;
}

.mover {
    position: absolute;
    white-space: nowrap;
    height: 30px;
    /* background-color: #fff; */    
}

/* .mover2 {
    position: absolute;
    white-space: nowrap;
    height: 30px;
    animation: slideR2 4s infinite linear;
} */

.step0 {
    animation: slideR 2s infinite linear;
}

.step1 {
    top: 30px;
    animation: slideR 4s infinite linear;
}

.step2 {
    top: 60px;
    color: rgb(233, 202, 79);
    animation: slideL 6.5s infinite linear;
}

.step3 {
    top: 90px;
    animation: slideR 4s infinite linear;
}

.step4 {
    top: 120px;
    color: rgb(255, 166, 0);
    animation: slideR 6s infinite linear;
}

.step5 {
    top: 150px;
    animation: slideL 5.5s infinite linear;
}

.step6 {
    top: 180px;
    animation: slideL 4.8s infinite linear;
}

.step7 {
    top: 210px;
    color: rgb(255, 166, 0);
    animation: slideR 5.5s infinite linear;
}

.step8 {
    top: 240px;
    color: rgb(255, 166, 0);
    animation: slideR 3.8s infinite linear;
}

.step9 {
    top: 270px;
    color: rgb(250, 207, 34);
    animation: slideL 3.1s infinite linear;
}

.step10 {
    top: 300px;
    color: rgb(231, 193, 122);
    animation: slideR 3.8s infinite linear;
}

.step11 {
    top: 330px;
    animation: slideL 5.5s infinite linear;
}

.step12 {
    top: 360px;
    color: rgb(255, 166, 0);
    animation: slideR 6s infinite linear;
}

.step13 {
    top: 390px;
    color: rgb(250, 207, 34);
    animation: slideL 5.2s infinite linear;
}

.step14 {
    top: 420px;
    animation: slideR 3.3s infinite linear;
}

.step15 {
    top: 450px;
    color: rgb(255, 166, 0);
    animation: slideL 4.9s infinite linear;
}

.step16 {
    top: 480px;
    animation: slideR 4.5s infinite linear;
}

.step17 {
    top: 510px;
    color: rgb(250, 207, 34);
    animation: slideR 5s infinite linear;
}

.step18 {
    top: 540px;
    color: rgb(219, 182, 114);
    animation: slideR 7s infinite linear;
}

.step19 {
    top: 570px;
    color: rgb(255, 166, 0);
    animation: slideL 4.5s infinite linear;
}

.step20 {
    top: 600px;
    animation: slideR 2.9s infinite linear;
}

@keyframes slideR {
    0% {
        left: -1500px;
    }

    100% {
        left: 100%;
    }
}

@keyframes slideR2 {
    0% {
        left: -1500px;
    }

    100% {
        left: 100%;
    }
}

@keyframes slideL {
    0% {
        right: -1500px;
    }

    100% {
        right: 100%;
    }
}

@keyframes flicker {
    0%{
        opacity: 100%;
    }

    /* 50%{
        opacity: 50%;
    } */

    100%{
        opacity: 90%;
    }
}

@keyframes blink {
    0% {
        /* height: 100vh; top edge is used as point of origin */
        scale:1 1; /* when using 2 values with the scale property, make sure there is no space in front of first number*** */
    }

    100% {
        /* height: 0; */
        scale:0 0;
    }
}

/* crt effect from https://aleclownes.com/2017/02/01/crt-display.html */

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}
