/* wild-card rule, affects EVERYTHING, be careful */
* {
    box-sizing: border-box;
}

body {
    background-color: black;
}


.container {
    /* position: relative;
    top: 60px; */
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 25px;
    grid-template-columns: 90px 90px 90px 90px 90px 90px;
    gap: 15px;
}

.dim {
    background-color: rgb(35,44,60);
}

.moon {
    position: absolute;
    right: 250px;
    top: 100px;
    /* background-color: rgb(255,196,0); */
    width: 100px;
    height: 100px;
}

.window {
    background-color: rgb(255,196,0);
}